*{
    box-sizing: border-box;
}
.home{
    background-color: rgb(109, 109, 109);
    display: flex;
    min-height: 100vh;
}
.home_inner{
    width: 100%;
}

.cardView{
    width: 100%;
    height: 200px;
    padding :20px;
}

.cardwrap{
    display: flex;
    flex-wrap: wrap;
}
.card_col_wrap:nth-child(n + 1){
    margin-top: 24px;
}

.getTask{
    padding: 10px;
    max-width: 410px;
}

.createTask{
    max-width: 340px;
    padding: 10px;
}

.deleteTask{
    padding: 10px;
    max-width: 430px;
}

@media only screen and (max-width: 991px) {
    .home_inner {
      margin: 10px;
    }
  }